<h2 mat-dialog-title></h2>
<mat-dialog-content>
    <!--<div class="btn btn-toggle" (click)="toggleForm()">Toggle Form</div>-->
    <div class="container mt-5">
        <h1 class="mb-4">Mettre à jour Opérateur</h1>
        <form *ngIf="!showForm" (change)="onFileSelected1($event)">
            <div class="mb-4">
                <label for="excelFile" class="form-label">Select Excel File</label>
                <input type="file" class="form-control" id="excelFile">
            </div>
        </form>

       <!-- <form *ngIf="!showForm" [formGroup]="form">
            <div class="mb-3">
                <label for="name" class="form-label">NomOperateur</label>
                <input type="text" class="form-control" formControlName="nomOperateur" id="name" placeholder="Enter name" >
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">MatriculeOperateur</label>
                <input type="text" class="form-control"  formControlName="matriculeOperateur" placeholder="Enter email" >
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Etat</label>
                <input type="text" class="form-control" formControlName="etat"  placeholder="Enter etat" >
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">image</label>
                
                <input type="file" class="form-control" #fileInput  (change)="onFileSelected($event)">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">UAP</label>
                <input type="text" class="form-control" formControlName="uap"  placeholder="Enter UAP" >
            </div>
            <div class="mb-3">
                <label for="department" class="form-label">Ligne</label>
                <select class="form-select" id="department" required formControlName="chaine" (change)="getAllOperationByLigne($event)" >
                    <option value="">Select Ligne</option>
                    <option value="{{item.id}}" *ngFor="let item of ligne" >{{item.nomLigne}}</option>
                    
                </select>
            </div>
            <div class="mb-3">
                <label for="department" class="form-label">Opération</label>
                <select class="form-select" id="department" formControlName="idOperation" required>
                    <option value="">Select Opération</option>
                    <option *ngFor="let operations of operation"  [value]="operations.id">{{operations.operationName}}</option>
                    
                </select>
            </div>
            <div class="mb-3">
                <label for="Num" class="form-label">Numéro de téléphone</label>
                <input type="text" class="form-control" id="position" formControlName="telephone" placeholder="Numéro de téléphone" required>
            </div>
            <button (click)="addoperator()">okkk</button>
        </form>-->
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close-Cancel></button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial class="btn btn-primary" type="submit" style="margin-left: 40%;" >OK</button>
</mat-dialog-actions>


