<div class="container">
    <div class="row">
      <div class="col-md-4" style="margin-left: 15%;">
        <h2 >Fiches de formations</h2>
    </div>
    <div class="col-md-2" style="margin-left: 28%">
        <div class="input-group rounded" style="border: 1px solid #939597;">
            <input type="text" class="form-control border-0" placeholder="Search" aria-label="Search" />
            <span class="input-group-text px-1" style="background-color: rgb(255, 255, 255); border: none;">
                <i class="fas fa-search" style="color:#939597;"></i>
            </span>
        </div>
    </div>
    
      <div class="col">
        <button class="btn">
          <i class="fas fa-sliders-h"style="font-size:30px"></i>
        </button>
      </div>
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="row">
      <div class="col offset-md-2">
        <div class="table-responsive">
          <table class="table table-striped medium">
            <thead class="thead-light">
              <tr>
                <th scope="col" style="color: transparent;">aaa</th>
                <th scope="col"></th>
                <th scope="col">MAT Agent</th>
                <th scope="col">Nom Agent</th>
                <th scope="col">FIF</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td>
                  <div class="profil">
                    <img src="assets/mounir.jpeg" alt="Profile Image">
                  </div>
                </td>
                <th scope="row">1</th>
                <td class="centered">Mark</td>
                <td><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 48 48">
                  <path fill="#FFA000" d="M40 12H22l-4-4H8c-2.2 0-4 1.8-4 4v8h40v-4c0-2.2-1.8-4-4-4z"/>
                  <path fill="#FFCA28" d="M40 12H8c-2.2 0-4 1.8-4 4v20c0 2.2 1.8 4 4 4h32c2.2 0 4-1.8 4-4V16c0-2.2-1.8-4-4-4z"/>
              </svg></td>
                
              </tr>
              <tr>
                <td></td>
                <td>
                  <div class="profil">
                    <img src="assets/mounir.jpeg" alt="Profile Image">
                  </div>
                </td>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 48 48">
                  <path fill="#FFA000" d="M40 12H22l-4-4H8c-2.2 0-4 1.8-4 4v8h40v-4c0-2.2-1.8-4-4-4z"/>
                  <path fill="#FFCA28" d="M40 12H8c-2.2 0-4 1.8-4 4v20c0 2.2 1.8 4 4 4h32c2.2 0 4-1.8 4-4V16c0-2.2-1.8-4-4-4z"/>
              </svg>
              </td>
                
              </tr>
              <tr>
                <td></td>
                <td>
                  <div class="profil">
                    <img src="assets/mounir.jpeg" alt="Profile Image">
                  </div>
                </td>
                <th scope="row">3</th>
                <td>Larry</td>
                <td><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 48 48">
                  <path fill="#FFA000" d="M40 12H22l-4-4H8c-2.2 0-4 1.8-4 4v8h40v-4c0-2.2-1.8-4-4-4z"/>
                  <path fill="#FFCA28" d="M40 12H8c-2.2 0-4 1.8-4 4v20c0 2.2 1.8 4 4 4h32c2.2 0 4-1.8 4-4V16c0-2.2-1.8-4-4-4z"/>
              </svg>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>