<div class="container">
  <div class="row">
    <div class="col-md-4" style="margin-left: 15%;">
      <h2 >Fiches de formations</h2>
  </div>
  <div class="col-md-2" style="margin-left: 28%;">
    <app-search (searchResults)="onSearchResults($event)"></app-search>
  </div>
  
  <div class="col">
    <button class="btn"mat-button [matMenuTriggerFor]="menu" #menuTrigger>
      <i class="fas fa-sliders-h" style="font-size:30px;"></i>
    </button>
  
    <mat-menu #menu="matMenu" class="custom-menu">
      <mat-form-field>
        <mat-label>Ligne</mat-label>
        <mat-select (click)="$event.stopPropagation()" (selectionChange)="getOperatorByLigne($event)">
          <mat-option *ngFor="let item of ligne" value="{{item.id}}">{{item.nomLigne}}</mat-option>
          
        </mat-select>
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>	MAT Agent</mat-label>
        <mat-select (click)="$event.stopPropagation()"(selectionChange)="findOperatorByMatricule($event)">
          <mat-option value="all">all</mat-option>

          <mat-option *ngFor="let item1 of filtredoperators"value="{{item1.matriculeOperateur}}">{{item1.matriculeOperateur}}</mat-option>
          
        </mat-select>
      </mat-form-field>
    
      <!-- Button to close the menu -->
      <button mat-menu-item >Close Menu</button>
    </mat-menu>
  
  </div>
  
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col offset-md-2">
      <div class="table-responsive"style="max-height: 450px; overflow-y: auto;">
        <table class="table table-striped medium">
          <thead class="thead-light">
            <tr>
              <th scope="col" style="color: transparent;">aaa</th>
              <th scope="col"></th>
              <th scope="col">MAT Agent</th>
              <th scope="col">Nom Agent</th>
              <th scope="col">FIF</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of operators">
              <td></td>
              <td>
                <div class="profil">
                  <img src="{{item.image}}" alt="Profile Image">
                </div>
              </td>
              <th scope="row">{{item.matriculeOperateur}}</th>
              <td class="centered">{{item.nomOperateur}}</td>
              <td (click)="openDialog(item.id)" style="cursor: pointer;"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 48 48">
                <path fill="#FFA000" d="M40 12H22l-4-4H8c-2.2 0-4 1.8-4 4v8h40v-4c0-2.2-1.8-4-4-4z"/>
                <path fill="#FFCA28" d="M40 12H8c-2.2 0-4 1.8-4 4v20c0 2.2 1.8 4 4 4h32c2.2 0 4-1.8 4-4V16c0-2.2-1.8-4-4-4z"/>
            </svg></td>
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

