<div class="container">
    <div class="row">
      <div class="col-md-4" style="margin-left: 15%;">
        <h2 >Formations</h2>
    </div>
    <div class="col-md-2" style="margin-left: 28%">
        <div class="input-group rounded" style="border: 1px solid #939597;">
            <input type="text" class="form-control border-0" placeholder="Search" aria-label="Search" />
            <span class="input-group-text px-1" style="background-color: rgb(255, 255, 255); border: none;">
                <i class="fas fa-search" style="color:#939597;"></i>
            </span>
        </div>
    </div>
    
      <div class="col">
        <button class="btn">
          <i class="fas fa-sliders-h"style="font-size:30px"></i>
        </button>
      </div>
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="row">
      <div class="col offset-md-2">
        <div class="table-responsive">
          <table class="table table-striped medium">
            <thead class="thead-light">
              <tr>
                <th scope="col" style="color: transparent;">aaaa</th>
                <th scope="col"></th>
                <th scope="col">MAT Formation</th>
                <th scope="col">Type</th>
                <th scope="col">Ligne</th>
                <th scope="col">Opération</th>
                <th scope="col">Opérateurs</th>
                <th scope="col">Date début</th>
                <th scope="col">Date Fin</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <th scope="row">1</th>
                <td >Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <div class="profil">
                    <img src="assets/mounir.jpeg" alt="Profile Image">
                  </div>
                </td>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@mdo</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <div class="profil">
                    <img src="assets/mounir.jpeg" alt="Profile Image">
                  </div>
                </td>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>@mdo</td>
                
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
  