<div class="container">
  <div class="row">
    <div class="col-md-4" style="margin-left: 15%;">
      <h2 >Formations</h2>
  </div>
  <div class="col-md-2" style="margin-left: 28%;">
    <app-filter (searchResultsFormation)="onSearchResults($event)"></app-filter>
  </div>
  
   
  <div class="col">
    <button class="btn" mat-button [matMenuTriggerFor]="menu" #menuTrigger>
      <i class="fas fa-sliders-h"style="font-size:30px"></i>
    </button>
  </div>

</div>
</div>
<mat-menu #menu="matMenu" class="custom-menu">
          <mat-form-field>
            <mat-label>Ligne</mat-label>
            <mat-select (click)="$event.stopPropagation()"  (selectionChange)="getFormationByLigne($event)">
              <mat-option value="All">All</mat-option>
              <mat-option *ngFor="let item of ligne" value="{{item.nomLigne}}">{{item.nomLigne}}</mat-option>
              
            </mat-select>
          </mat-form-field>
          <!-- Button to close the menu -->
          <button mat-menu-item >Close Menu</button>
</mat-menu>

<div class="container-fluid">
  <div class="row">
    <div class="col offset-md-2">
      <div class="table-responsive" style="max-height: 450px; overflow-y: auto;">
        <table class="table table-striped medium">
          <thead class="thead-light">
            <tr>
              <th scope="col" style="color: transparent;">aaaa</th>
              <th scope="col">MAT Formation</th>
              <th scope="col">Type</th>
              <th scope="col">Ligne</th>
              <th scope="col">Opération</th>
              <th scope="col">Opérateurs</th>
              <th scope="col">Date début</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of formation">
              <td></td>
              <th scope="row">{{item.matriculeFormation}}</th>
              <td >{{item.typeDeFormation}}</td>
              <td>{{item.ligneName}}</td>
              <td>{{item.operationName}}</td>
              <td (click)="openDialog(item.polyDataList ,item.idDemandeRecrutement)" style="cursor: pointer;">
                <i class="fa fa-users fa-2x"></i>
              </td>
              
              <td>{{item.creationDate}}</td>
            </tr>
           
          </tbody>
        </table>
      </div>
    </div>
  </div>

