<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-2" >
      <h2 style="margin-top: 5px;" >Creation d'une demande</h2>
  </div>
  <!--<div class="col-md-2" style="margin-left: 28%;">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Search" matInput [matAutocomplete]="auto" [formControl]="searchControl">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>-->
  
  
  
    <div class="col-md-1 offset-md-5">
      <button class="btn" (click)="openDialog()">
        <i class="fas fa-file-code"style="font-size:40px"></i>
      </button>
    </div>
  </div>
</div>
<div class="container mt-4" >
  <div class="row">
    <div class="col-md-3 offset-md-4">
      <div class="card" (click)="openDialogBesoin()">
        <div class="card-img-overlay">
          <h5 class="card-title">Besoin de personnel</h5>
        </div>
        <img src="assets/image.png" class="card-img" alt="Image 1">
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" (click)="openDialogPolyvalence()">
        <div class="card-img-overlay">
          <h5 class="card-title">Polyvalence</h5>
        </div>
       <img src="assets/image2.png" class="card-img" alt="Image 2">
        
      </div>
      <div class="card-body" [innerHTML]="renderedHtml"></div>

    </div>
  </div>
</div>
<div>
 



